@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.container {
  font-size: 40px;
  font-family: "Inter Extra Bold";
  text-align: center;
  @media screen and (max-width: sizes.$md) {
    font-size: 30px;
  }
}
