@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.projects {
  background-color: colors.$primaryBackground;
  padding: 70px 0px;

  .desc {
    color: colors.$paraColor;
  }

  .link {
    margin-right: 20px;
  }

  .seeAll {
    text-align: center;
  }
}
