@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";

.container {
  margin-top: 130px;
  margin-bottom: 90px;

  p {
    font-size: 17px;
    @media screen and (min-width: sizes.$lg) {
      font-size: 24px;
    }
  }

  strong {
    font-weight: bolder;
    text-decoration: underline;
  }

  .content {
    margin-top: 30px;
  }

  .dateAndWebsite {
    margin: 15px 0px;
    @media screen and (max-width: sizes.$md) {
      font-size: 16px;
    }
  }

  .website {
    color: colors.$primary;
    text-decoration: underline;
  }

  .imagesGrid {
    img {
      margin: 10px 0px;
    }
  }

  h3 {
    font-family: "Inter Extra Bold";
  }

  .subheadline {
    font-family: "Inter Extra Bold";
    margin: 50px 0px 0px 0px;
    font-size: 40px;
  }

  

}
