@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.container {
  margin-top: 130px;
  margin-bottom: 90px;

  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  p {
    color: colors.$paraColor;
    font-size: 20px;
    @media screen and (min-width: sizes.$lg) {
      font-size: 24px;
    }
  }

  strong {
    color: colors.$primaryColor;
  }

  .dateAndWebsite {
    color: colors.$paraColor;
    margin: 15px 0px;
    @media screen and (max-width: sizes.$md) {
      font-size: 16px;
    }
  }

  .imagesGrid {
    img {
      margin: 10px 0px;
    }
  }

  a,
  .subheadline {
    color: colors.$paraColor;
  }
}
