@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";

.notFoundPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9% 0%;
  img {
    width: 400px;
    height: 400px;

    @media screen and (max-width: sizes.$md) {
      width: 200px;
      height: 200px;
    }
  }
}
