@use "./variables/colors.module" as colors;



/* static fonts */
@font-face {
  font-family: "Inter Thin";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}
body {
  font-family: "Inter Regular" !important;
  padding: 0px;
  margin: 0px;
  background-color: colors.$backgroundColor;
  color: colors.$textColor;

  p {
    color: colors.$paraColor;
  }
}

.importantLink {
  font-family: "Inter Extra Bold";
  text-decoration: underline;
  color: colors.$primary;
}

.navbar-light .navbar-toggler-icon {
  background-image: none !important;
}

.colorfulTag {
  color: #7f5af0;
  background-image: linear-gradient(90deg, #7f5af0 32%, #b847fe 54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

