@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;

  .ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: colors.$primaryBackground;
    animation: wave 1s ease-in-out infinite;
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .ball:nth-child(2) {
    animation-delay: -0.2s;
  }

  .ball:nth-child(3) {
    animation-delay: -0.4s;
  }

  .ball:nth-child(4) {
    animation-delay: -0.6s;
  }

  .ball:nth-child(5) {
    animation-delay: -0.8s;
  }
}
