@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.about {
  .description {
    font-size: 22px;

    @media screen and (max-width: sizes.$md) {
      margin-top: 10px;
      font-size: 17px;
    }
  }
}
