@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.about {
  background: colors.$primaryBackground;
  .duckettBooks {
    font-weight: 300;
    color: colors.$paraColor;
    text-decoration: underline;
  }
  .description {
    @media screen and (max-width: sizes.$md) {
      margin-top: 10px;
      font-size: 17px;
    }
  }
}
