@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";

.links {
  text-align: center;
  padding: 100px 0px;
  .link {
    background-color: colors.$primaryBackground;
    padding: 10px;
    color: colors.$paraColor;
    margin-right: 3px;
  }
}
