$primaryBackground: #eff0f3;
$secondaryBackground: white;

$primaryColor: white;

$buttonBackground: #ff8e3c;
$paraColor: black;

:export {
  primarybackground: $primaryBackground;
  secondarybackground: $secondaryBackground;
  primarycolor: $primaryColor;
  buttonbackground: $buttonBackground;
  paraColor: $paraColor;
}
