@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";

.projectDetails {
  margin: 80px 0px;
  &:nth-child(1) {
    margin-top: 30px;
  }
  img {
    width: 100%;
    max-width: 100%;
  }

  a {
    margin-right: 10px;
  }

  .desc {
    font-size: 18px;
  }

  .technologies {
    text-transform: capitalize;
  }

  @media screen and (max-width: sizes.$md) {
    .details {
      margin-top: 10px;
    }
    a {
      margin-top: 6px;
    }
    h3 {
      font-size: 20px;
    }
    h4,
    h5 {
      font-size: 17px;
    }
  }
}
